 .p-datatable-frozen-tbody {
    font-weight: bold;
}

.p-datatable-scrollable .p-frozen-column {
    font-weight: bold;
}

th {
    cursor: pointer;
}

.input-addon {
    width:6rem;
    text-align: left;
}