<div class="flex flex-col">
        <div class="card">
            <div class="font-semibold text-xl">Flash Astuce</div>
            <p-dataview [value]="tips" layout="list">
                <ng-template #emptymessage>
                    <div class="p-col-12 text-center p-3">
                        <p class="mt-3" style="font-size: 1.2rem; color: #6c757d;">
                            Aucune contenue trouvé
                        </p>
                        @if (!isFilterCancelable()) {
                            <small>Essayer d'annuler les filtres</small>
                        }
                    </div>
                </ng-template>
                <ng-template #header>
                    <div class="flex justify-between">
                        <div>
                            <p-button type="button" label="Ajouter" icon="pi pi-plus" (onClick)="add()" />
                        </div>
                        <div class="flex gap-2 items-center">
                            <span>
                                 @if (tips.length > 0) {
                                    Résultat{{ tips.length>0 ? 's' : '' }}: {{ tips.length }} / {{ count }} affiché{{ tips.length>0 ? 's' : '' }}
                                }  
                            </span>
                            <p-button type="button" severity="info" (click)="toggleFilterPopOver(op2, $event)" >
                                <i class="pi pi-filter"></i>
                            </p-button>
                            <p-popover #op2 id="overlay_panel" [style]="{ width: '450px' }">
                                 <div class="font-semibold text-xl mb-4">Filtres</div>
                                <p-inputgroup>
                                    <p-inputgroup-addon class="input-addon">
                                        Catégorie
                                    </p-inputgroup-addon>
                                    <p-select [(ngModel)]="categoryFilter" [options]="categories" optionLabel="name" placeholder="Selectionner" (onChange)="applyFilter()" />
                                </p-inputgroup>
                                <p-inputgroup class="mt-3">
                                    <p-inputgroup-addon class="input-addon">
                                       Entité
                                    </p-inputgroup-addon >
                                    <p-select [(ngModel)]="entityFilter" [options]="entities" optionLabel="name" placeholder="Selectionner" (onChange)="applyFilter()" />
                                </p-inputgroup>
                                <p-inputgroup class="mt-3">
                                    <p-inputgroup-addon class="input-addon">
                                       Etat
                                    </p-inputgroup-addon >
                                    <p-select [(ngModel)]="statusFilter" [options]="status" optionLabel="name" placeholder="Selectionner" (onChange)="applyFilter()" />
                                </p-inputgroup>
                                <div class="mt-3 text-center">
                                    <p-button class="mt-3" label="Annuler les filtres" severity="danger" rounded (click)="resetFilter()" [disabled]="isFilterCancelable()" />
                                </div>
                            </p-popover>
                            <p-iconfield iconPosition="left" class="ml-auto">
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input [(ngModel)]="searchFilter" pInputText type="text" placeholder="Titre" (keyup)="applyFilter()" />
                            </p-iconfield>
                        </div>
                    </div>
                </ng-template>

                <ng-template #list let-items>
                    <div class="flex flex-col">
                        <div *ngFor="let item of items; let i = index">
                            <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4" [ngClass]="{ 'border-t border-surface': i !== 0 }">
                                <div class="md:w-40 relative">
                                    <img class="block xl:block mx-auto rounded w-full tip-image" [src]="getUrl(item.cover_image)" [alt]="item.title" />
                                    <div class="badge-status bg-black/70 rounded-border" [style]="{ left: '4px', top: '4px' }">
                                        <p-tag [value]="item.is_active ? 'active' : 'inactive'" [severity]="item.is_active ? 'success' : 'danger'"></p-tag>
                                    </div>
                                </div>
                                <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                                    <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                        <div>
                                            <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ item.created_date }}</span>
                                            <div class="text-lg font-medium mt-2">{{ item.title }}</div>
                                            <p>{{ truncate(item.content) }}</p>
                                        </div>
                                        <div class="bg-surface-100 p-1" style="border-radius: 30px">
                                            <div class="flex gap-3">
                                                @for (entity of item.entities; track entity.id) {
                                                    <p-tag  [value]="entity.label"></p-tag>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col md:items-end gap-8">
                                        <span class="text-xl font-semibold">
                                            <i class="pi pi-paperclip"></i>
                                            {{ item.attachments.length }}
                                        </span>
                                        <div class="flex flex-row-reverse md:flex-row gap-2">
                                            <p-button pTooltip="Modifier" tooltipPosition="top" icon="pi pi-pencil" class="h-full" severity="primary" (click)="edit(item._id)" [outlined]="true"></p-button>
                                            <p-button [pTooltip]="item.is_active ? 'Masquer' : 'Activer'" tooltipPosition="top" [icon]="item.is_active ? 'pi pi-ban' : 'pi pi-check'" class="h-full" [severity]="item.is_active ? 'warn' : 'success'" [outlined]="true" (click)="confirmToggleStatus(item)"></p-button>
                                            <p-button  pTooltip="Supprimer" tooltipPosition="top" icon="pi pi-trash" class="h-full" severity="danger" [outlined]="true" (click)="confirmDelete(item._id)"></p-button>                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataview>
            @if (tips.length < count) {
                <div class="h-16 mt-3 text-center">
                    <p-button label="Voir plus ..." severity="info" rounded (click)="showMore()" [disabled]="loadingMore">
                        @if (loadingMore) {
                            <p-progressSpinner class="spinner" strokeWidth="6"></p-progressSpinner>  
                        }
                    </p-button>
                </div>
            }
        </div>
    </div>

<p-confirmdialog acceptLabel="Oui" rejectLabel="Non" [style]="{ width: '450px' }" />