.table {
    border-collapse: collapse;
    tr {
        border-top: 1px solid var(--surface-border);
        border-bottom: 1px solid var(--surface-border);
    }
    td {
        padding: 10px;
    }
}

input[type="text"], input[type="number"] {
    text-align: right;
}
