.portfolio-image {
    height: 320px;
    width: 320px;
    object-fit: cover;
    overflow: hidden;
    background-color: darkgrey;
    border-bottom: 1px solid var(--surface-border);
    margin-bottom: 10px;
    cursor: pointer;
}
